<div class="p-grid">
    <div class="p-col-12 p-md-6 drag-column">
        <div *ngFor="let product of availableProducts">
            <div class="product-item" pDraggable="products" (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">
                <!-- <div class="image-container">
                        <img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" />
                </div> -->
                <div class="product-list-detail">
                    <h5 class="p-mb-2">{{product.id}}</h5>
                    <h5 class="p-mb-2">{{product.name}}</h5>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{product.category}}</span>
                </div>
                <div class="product-list-action">
                    <h6 class="p-mb-2">${{product.price}}</h6>
                    <span class="'product-badge status-'{{product.inventoryStatus.toLowerCase()}}">{{product.inventoryStatus}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <p-panel header="test1"  style="width: 100%; height: 100%; background-color: blue;" pDroppable="products" (onDrop)="drop1($event)">
          <div class="p-grid">
            <ng-container *ngFor="let product of selectedProducts1; index as i">
              <div class="p-col-2">
                <div style="border-style: solid; border-width: 1px;" (click)="onClick(product)">
                  <ng-container *ngIf="i === 0">
                    班長:
                  </ng-container>
                    {{product.id}}
                  <br>
                  {{product.name}}
                </div>
              </div>
            </ng-container>
          </div>
        </p-panel>
        <p-panel header="test2" pDroppable="products" (onDrop)="drop2($event)">
          <div class="p-grid">
            <ng-container *ngFor="let product of selectedProducts2; index as i">
              <div class="p-col-2">
                <div style="border-style: solid; border-width: 1px;" (click)="onClick(product)">
                  <ng-container *ngIf="i === 0">
                    班長:
                  </ng-container>
                    {{product.id}}
                  <br>
                  {{product.name}}
                </div>
              </div>
            </ng-container>
          </div>
        </p-panel>
    </div>
</div>
